body{
    display: flex;
    align-items: flex-start;
}
.blue {
    background-color: blue;
    padding: 20px;
}

.yellow {
    background-color: yellow;
    padding: 20px;
    margin: 10px;
}
.flex{
    display: flex;
}
.red {
    padding-right: 80px;
}
.bottom {
    padding-bottom: 80px;
}